{{- range $release := .Releases }}
{{ $release.Version }}
{{- $breaking := .GetBreaking }}
{{- if $breaking }}
  {{- range $commit := $breaking }}
    Commit: {{ $commit.Hash }}
    Description: {{ $commit.Description }}
    {{- if $commit.Body }}
    Body: {{ $commit.Body }}
    {{- end }}
  {{- end }}
{{- end }}
{{- end }}
